.car{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
.hr{
    border: none;
    color: red;
    height: 3px;
    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
}

.inputField{
 margin-top: 10px;
 margin-bottom: 20px;
 margin-right: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}